body{
    background-color: rgb(243, 193, 127);
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;

}
#container{
    background-color: rgb(133, 182, 224);

}

#relogio{
    font-size: 10rem;
    font-weight: bold;
    margin-top: 10px;
}
